.source-button {
  background-color: #ffffff;
  font-family: "Assistant", sans-serif;
  font-weight: normal;
  border-color: #171e27;
  border-width: 2px;
  border-radius: 5px;
  margin-bottom: 1px;
  color: #171e27;
  cursor: pointer;
  transition: all 0.2s;
  .icons {
    * {
      height: 15px;
      width: auto;
      margin-right: 4px;
    }
  }
  &:hover {
    background-color: rgb(255, 255, 255);
    border-color: #0000df;
    color: #0000df;
    box-shadow: 0px 0px 10px #0000df;
  }
  &.selected {
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(5px);
    border-color: #129700;
    color: #129700;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #129700;

    &:hover {
      color: rgb(255, 0, 0);
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 0px 10px #ff0000;
      backdrop-filter: blur(8px);
      border-color: #ff0000;
    }
  }
}
