.actions-container {
  position: absolute;
  top: 1%;
  height: 20px;
  line-height: 20px;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  opacity: 1;
  z-index: 2;
}

.action-button {
  &:hover {
    background-color: #ff5e00;
  }
  &.color {
    &-red {
      background-color: #ff000033;
      &:hover {
        background-color: #ff0000;
      }
    }
  }
  background-color: #ff5e0033;
  color: #fff;
  left: 1%;
  margin: 0 6px;
  width: auto;
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  padding: 2px 6px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.5s;
}

.stream {
  max-height: 100vh;
  overflow: hidden;
  &:before {
    padding-bottom: 56%;
    content: '';
    float: left;
  }
  &:after {
    display: table;
    content: '';
    clear: both;
  }
}
