html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-align: justify;
  background-color: #000000 !important;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  max-height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.h1 {
  margin: 10px;
  background-color: #0066f9;

  text-align: center;
  color: #ffffff;
}

.CAJATituloDePantallaPequeña2 {
  background: rgb(0, 0, 0, 0);
  margin: 0 auto;
  width: 100%;
  height: 3%;
  line-height: 15px;
  position: absolute;
  top: 5px;
  text-align: center;
}

.SeleccionarStreamsPorFila {
  display: inline-block;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(5px);
  margin: 0px;
  width: auto;
  height: 20px;
  line-height: 20px;
  font-size: 11px;
  padding: 0px;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.5s;
}

.StreamsPorFila {
  display: inline-block;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  border-color: rgba(0, 0, 0, 0);
  margin: 0px;
  width: 100%;
  height: 20px;
  line-height: 20px;
  font-size: 11px;
  padding: 0px;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.5s;
}

.StreamsPorFila:hover {
  background: #4c8304;
  color: #fff;
}

.TextoTitulosMonitor1 {
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(3px);
  margin: 0 auto;
  width: auto;
  height: auto;
  border-radius: 3px;
  position: relative;
  font-family: 'Assistant', sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: white;
  display: inline-table;
  cursor: pointer;
  transition: all 0.5s;
}

.TextoTitulosMonitor1:hover {
  background: #ffffff;
  color: rgb(0, 0, 0);
}

.Boton_PantallaCompleta {
  display: inline-block;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  margin: 0px;
  width: auto;
  height: 20px;
  line-height: 20px;
  font-size: 11px;
  padding: 0px;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.5s;
}
.Boton_PantallaCompleta:hover {
  background: #0017df;
  color: #fff;
}
