.button-content {
  display: inline-block;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  margin: 0px;
  width: auto;
  height: 20px;
  line-height: 20px;
  font-size: 11px;
  padding: 0px;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.5s;
}
.button-content:hover {
  background: #c90101;
  color: #fff;
}
